<p>検索メニュー</p>
<tbody>
  <span *ngFor="let search of searchMenu | keyvalue; index as i">
    <span *ngIf = "searchMenu[search.key].length == '1'; else elseBlock ">   
      <select>
        <option *ngFor="let cnt of searchMenu[search.key][0].value | keyvalue; index as i"
        value="{{ searchMenu[search.key][0].value[cnt.key][0].id}}">
          {{ searchMenu[search.key][0].value[cnt.key][0].name }}
        </option>
      </select>
    </span>
    <ng-template #elseBlock>
      {{search.key}} :テキストで表示
    </ng-template>
  </span>
</tbody>
