<script src="{{ url_for('static', filename='main.js') }}"></script>
  <p>バックエンド実験ページ!</p>
  <button (click) = "getBackTestData()">実験</button><br>
  <button (click) = "getAndSendData()">実験2</button><br>
  <button (click) = "getSQLData()">実験3(select文）</button><br>
  <li><a href="search/searchHome"(click)="onClickSearch()">次の実験ページへ</a></li>

  <div *ngIf="showMessage" [innerHTML]='htmlString'></div>
  <div *ngIf="showTable">
    <table class="table" bordercolor="#000000">
      <thead bordercolor="#000000">
        <tr><th></th><th>ID</th><th>名前</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of resultSql; index as i">
          <td>{{i + 1}}</td>
          <td>{{result.testUser[0].id.value}}</td>
          <td>{{result.testUser[0].name.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>


